*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover::after{
    color: #fac031;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .main_img{
    width: 675px;
    height: 600px;
    object-fit: contain;
}

section .main .main_text h2{
    font-size: 28px;
    position: relative;
    top: -90px;
    /* left: 20px;  */
    margin-left: 100px;
}

section .main .main_img img{
    width: 700px;
    position: relative;
    /* left: 5px; */
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    right: 100px;
    top: 75px;
    line-height: 22px;
}

/* the login and sign up buttons*/
.login-btn {
    background-color: rgba(253, 220, 56, 0.95); /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 300px;
    margin-left: 100px;
}
.login-btn:hover {
    background-color: rgba(220, 188, 31, 0.95);
    cursor: pointer;
}
.signup-btn {
    background-color: rgba(253, 220, 56, 0.95); /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}
.signup-btn:hover {
    background-color: rgba(220, 188, 31, 0.95);
    cursor: pointer;
}