<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Reservoir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <section>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/Larana_boutiquE.png') }}" alt="Logo">
            </div>

            <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('recipesall') }}">All Recipes</a></li>
        <li><a href="{{ url_for('glutenfreerecipes') }}">Gluten Free Recipes</a></li>
        <li><a href="{{ url_for('dairyfree') }}">Dairy Free Recipes</a></li>
        <li><a href="{{ url_for('veganrecipes') }}">Vegan Recipes</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>


        </nav>


                <div class="main">

            <div class="main_text">
                <h1>Jollof Rice (Gluten Free Version)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/jollof_rice.jpg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=5hCFKkBo1NE&pp=ygUXZ2x1dGVuIGZyZWUgam9sbG9mIHJpY2U%3D">Watch a video!</a>
        </div>


                <div class="main">

            <div class="main_text">
                <h1>Fried Rice (Gluten Free Version)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/vegfriedrice.jpg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=IdvMhixkF1A&pp=ygUWZ2x1dGVuIGZyZWUgZnJpZWQgcmljZQ%3D%3D">Watch a video!</a>
        </div>


    </section>


    <br>
    <br>
    <br>
    <br>


   
</body>
</html>