<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Reservoir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <section>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/Larana_boutiquE.png') }}" alt="Logo">
            </div>

            <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>

        <li><a href="{{ url_for('recipesall') }}">All Recipes</a></li>
        <li><a href="{{ url_for('glutenfreerecipes') }}">Gluten Free Recipes</a></li>
        <li><a href="{{ url_for('dairyfree') }}">Dairy Free Recipes</a></li>
        <li><a href="{{ url_for('veganrecipes') }}">Vegan Recipes</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>


        </nav>

        <div class="main">

            <div class="main_text">
                <h1>Chicken Alfredo</h1>
            </div>

            <div class="main_img">
                <!-- <img src="assets/Chicken alfredo stock photo_ Image of isolated, noodles - 10742336.jpeg" alt="pic_of_chicken_n_alfredoooooo"> -->
                 <img src="{{ url_for('static', filename='assets/chicken_alfredo.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=F7CU0qBdj04&pp=ygUWY2hpY2tlbiBhbGZyZWRvIHJlY2lwZdIHCQmyCQGHKiGM7w%3D%3D">Watch a video!</a>
        </div>



                <div class="main">

            <div class="main_text">
                <h1>Xiaolongbao (Soup Dumplings)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/dumplings.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=UB1FC4Nim1Y&pp=ygUXeGlhb2xvbmdiYW8gaG93IHRvIG1ha2U%3D">Watch a video!</a>
        </div>



                <div class="main">

            <div class="main_text">
                <h1>Lasagna</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/lasagna.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=QZloaLmvSP0&pp=ygUHbGFzYWduYQ%3D%3D">Watch a video!</a>
        </div>



                <div class="main">

            <div class="main_text">
                <h1>Jollof Rice</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/jollof_rice.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=TyLygfyfwuc&pp=ygUfam9sbG9mIHJpY2Ugc3RlcCBieSBzdGVwIHJlY2lwZQ%3D%3D">Watch a video!</a>
        </div>



                <div class="main">

            <div class="main_text">
                <h1>Beef Wellington</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/beef_wellington.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=48w9kcBfrVA&pp=ygUjYmVlZiB3ZWxsaW5ndG9uIHN0ZXAgYnkgc3RlcCByZWNpcGU%3D">Watch a video!</a>
        </div>



                <div class="main">

            <div class="main_text">
                <h1>Fried Rice</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/friedrice.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=AOdHty1zLtA&pp=ygUeZnJpZWQgcmljZSBzdGVwIGJ5IHN0ZXAgcmVjaXBl">Watch a video!</a>
        </div>

    </section>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


   
</body>
</html>