<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Reservoir</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <section>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/Larana_boutiquE.png') }}" alt="Logo">
            </div>

        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipesall') }}">All Recipes</a></li>
            <li><a href="{{ url_for('glutenfreerecipes') }}">Gluten Free Recipes</a></li>
            <li><a href="{{ url_for('dairyfree') }}">Dairy Free Recipes</a></li>
            <li><a href="{{ url_for('veganrecipes') }}">Vegan Recipes</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>



        </nav>
                <div class="main">

            <div class="main_text">
                <h1>Brownies (Vegan)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/browniess.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=Q5uDPF13zNE&pp=ygUOdmVnYW4gYnJvd25pZXM%3D">Watch a video!</a>
        </div>


                <div class="main">

            <div class="main_text">
                <h1>Chocolate Chip Cookies (Vegan)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/cookieee.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=-PxAx9e8WwQ&pp=ygUcdmVnYW4gY2hvY29sYXRlIGNoaXAgY29va2llcw%3D%3D">Watch a video!</a>
        </div>


       
                <div class="main">

            <div class="main_text">
                <h1>Bread (Vegan)</h1>
            </div>

            <div class="main_img">
                <img src="{{ url_for('static', filename='assets/bred.jpeg') }}" alt="Food">
            </div>

        </div>


        <div class="main_btn">
            <a href="https://www.youtube.com/watch?v=Vk23SDlM7-Q&t=5s&pp=ygULdmVnYW4gYnJlYWQ%3D">Watch a video!</a>
        </div>


    </section>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


   
</body>
</html>